@import "./variables";

.main {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
@media only screen and (max-width: 780px) {
  main {
    flex-direction: column;
  }
}

.App {
  text-align: center;
  position: relative;
}

.pageBody {
  padding-top: 10vh;
}

.App-link {
  color: #61dafb;
}

.pictures {
  height: 90vh;
  width: 230px;
  overflow: scroll;
  margin-left: 20px;
}

@media only screen and (max-width: 780px) {
  .pictures {
    display: none;
  }
}

.picture {
  @include picsize();
}

.noticeList {
  height: 92vh;
  width: 230px;
  overflow: scroll;
  margin-right: 20px;
}

.notice {
  padding-top: 10px;
  padding-bottom: 10px;
}

.adminImage {
  padding: $side-pic-padding;
  height: $side-pic-height;
  width: $side-pic-width;
}
