.main {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.App {
  text-align: center;
  position: relative;

}

.pageBody {
  padding-top:10vh;
}

.App-link {
  color: #61dafb;
}

.pictures {
  height: 90vh;
  width: 230px;
  overflow: scroll;
  margin-left: 20px;
}

.picture {
  padding: 5px;
  height: 200px;
  width: 200px;

}

.noticeList {
  height: 92vh;
  width: 230px;
  overflow: scroll;
  margin-right: 20px;
}

.notice {
  padding-top: 10px;
  padding-bottom: 10px;
}

