.main {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.App {
  text-align: center;
  position: relative;

}

.pageBody {
  padding-top:7vh;
}

.App-link {
  color: #61dafb;
}

.pictures {
  height: 100vh;
  width: 220px;
  overflow: scroll;
}

.picture {
  padding: 5px;
  height: 200px;
  width: 200px;

}