.map {
    height: 800px;
    width: 800px;
    position:relative;
}

.mapBackground {
    z-index: -1;
    position: relative;
    left: 0px;
    top: 0px;
    object-fit: fill;
}

.teepee{
    position: absolute;
    height: 50px;
    width: 50px;
}

.teepee1 {
    left: 480px;
    top: 400px;
}

.teepee2 {
    left: 490px;
    top: 350px;
}